<h1>Listing naps</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Babyname</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Detail</th>
  </tr>

<% @naps.each do |nap| %>
  <tr>
    <td><%=h nap.starttime %></td>
    <td><%=h nap.endtime %></td>
    <td><%= link_to 'Show', nap %></td>
    <td><%= link_to 'Edit', edit_nap_path(nap) %></td>
    <td><%= link_to 'Delete', nap, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New nap', new_nap_path %>
