<h1>New nap</h1>

<% form_for(@nap) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :starttime %><br />
    <%= f.datetime_select :starttime %>
  </p>
  <p>
    <%= f.label :endtime %><br />
    <%= f.datetime_select :endtime %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', naps_path %>
